<main>
    <div class="conteiner-fluid p-3 mt-5 mb-5 w-50 mx-auto titulo-pag" >
        <h3 class="text-center">Detalles De Empleados</h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive" >
        <table id="tablaCliente" class="table table-success table-striped"  >
            <thead class="centrado">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Rol</th>
                <th scope="col">Nombre Ususario</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody class="centrado">
                <tr>
                    <th scope="row">1</th>
                    <th>Martinez</th>
                    <th>Carlos</th>
                    <th>3525-768966</th>
                    <th>Empleado</th>
                    <th>MartinezCarlos</th>
                    <th>****</th>
                    <th>
                        <button class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></button>
                        <button onclick="Borrar()" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                    </th>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <th>Baronetti</th>
                    <th>Sandra</th>
                    <th>351-5673289</th>
                    <th>Empleado</th>
                    <th>BaronettiSandra</th>
                    <th>****</th>
                    <th>
                        <button class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></button>
                        <button onclick="Borrar()" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                    </th>
                </tr>
                <tr id="col3">
                    <th scope="row">3</th>
                    <th>Bustos</th>
                    <th>Fernando</th>
                    <th>3543-657891</th>
                    <th>Empleado</th>
                    <th>BustosFernando</th>
                    <th>****</th>
                    <th>
                        <button class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></button>
                        <button onclick="Borrar()" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                    </th>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <th>Soria</th>
                    <th>Marcela</th>
                    <th>3522-7756372</th>
                    <th>Empleado</th>
                    <th>SoriaMarcela</th>
                    <th>****</th>
                    <th>
                        <button class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></button>
                        <button onclick="Borrar()" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                    </th>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <th>Salucci</th>
                    <th>Stella</th>
                    <th>351-5432100</th>
                    <th>Empleado</th>
                    <th>SalucciEstella</th>
                    <th>****</th>
                    <th>
                        <button class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></button>
                        <button onclick="Borrar()" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                    </th>
                </tr>
            </tbody>
        
        </table>
    </div>
</main>