<nav class="nav nav-pills flex-column flex-sm-row " id="navbar">
    <a class="flex-sm-fill text-sm-center nav-link " href="index.html">Administrador</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="clientes">Clientes</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="empleado">Empleados</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="facturacion">Facturación</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="tarifas">Modificar Tarifas</a>
</nav>
